@font-face {
  font-family: "icon-font-1";
  src: url("/fonts/icon-font-1.eot");
  src: url("/fonts/icon-font-1.eot?#iefix") format("embedded-opentype"), url("/fonts/icon-font-1.woff") format("woff"), url("/fonts/icon-font-1.ttf") format("truetype"), url("/fonts/icon-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow:before {
  content: "a"; }

.icon-brochure:before {
  content: "b"; }

.icon-pricesheet:before {
  content: "c"; }

@font-face {
  font-family: 'brandon_grotesquebold';
  src: url("/fonts/brandon_bld-webfont.eot");
  src: url("/fonts/brandon_bld-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/brandon_bld-webfont.woff2") format("woff2"), url("/fonts/brandon_bld-webfont.woff") format("woff"), url("/fonts/brandon_bld-webfont.ttf") format("truetype"), url("/fonts/brandon_bld-webfont.svg#brandon_grotesquebold") format("svg");
  font-weight: normal;
  font-style: normal; }
address, .button.pure, h1 {
  font-family: 'brandon_grotesquebold'; }

html, body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Merriweather', serif;
  color: #999999; }
  html, html *, body, body * {
    box-sizing: border-box; }

a:link, a:hover, a:visited {
  text-decoration: none; }

address {
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.7em;
  color: #D8A683;
  letter-spacing: 1px; }

.wrapper {
  height: 100%; }
  .wrapper:after {
    content: "";
    display: block;
    zoom: 1;
    clear: both; }

body * {
  word-wrap: break-word;
  text-wrap: normal;
  line-break: strict; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.hide-mobile {
  display: none; }

.button {
  vertical-align: middle; }
  .button.block-mobile {
    display: block;
    max-width: 300px; }
  .button.pure {
    padding: 12px 20px;
    text-transform: uppercase;
    border-radius: 2px;
    color: #fff;
    vertical-align: middle;
    font-size: .7em;
    letter-spacing: 2px;
    border: 1px #fff solid;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .button.pure.bold {
      color: #D8A683;
      border-color: #D8A683; }
      .button.pure.bold:hover {
        background-color: #D8A683;
        color: #fff; }
    .button.pure.light {
      color: #e4c2aa;
      border-color: #e4c2aa; }
      .button.pure.light:hover {
        background-color: #e4c2aa;
        color: #fff; }
    .button.pure .icon {
      float: right;
      font-size: 1.1em; }
      .button.pure .icon:before {
        line-height: 1.1;
        vertical-align: middle; }

h1 {
  color: #D8A683;
  text-transform: uppercase;
  font-size: 1.7em; }

.logo {
  padding: 100px 45px;
  background-color: #fff;
  min-height: 100px;
  text-align: center; }
  .logo img {
    max-width: 200px; }
  .logo .hero {
    margin-left: -45px;
    background-color: #fff;
    padding-top: 95px;
    padding-bottom: 35px;
    text-align: left;
    color: #85a0bd; }
    .logo .hero .hero-header {
      position: relative;
      padding-bottom: 25px;
      padding-left: 45px;
      color: #4E4E50; }
      .logo .hero .hero-header .border-bottom {
        width: 100%;
        position: absolute;
        left: 0px;
        bottom: 0px;
        padding: 10px 0px;
        border-bottom: 1px solid #D8A683; }
    .logo .hero .hero-text {
      padding-left: 45px;
      color: #4E4E50; }

.info {
  padding: 45px;
  background-color: #8D481D; }
  .info .service-action-wrapper {
    margin: -45px;
    padding: 25px 45px; }
    .info .service-action-wrapper .services {
      margin-bottom: 65px; }
      .info .service-action-wrapper .services li {
        font-style: italic;
        line-height: 2.2;
        font-size: 0.8em;
        color: #fff; }
    .info .service-action-wrapper .actions .button {
      margin: 25px 0; }
    .info .service-action-wrapper .address {
      margin-top: 35px;
      min-height: 200px; }
      .info .service-action-wrapper .address address {
        color: #D8A683; }

@media (min-width: 1000px) {
  [data-fadein] {
    transition: opacity 1s ease;
    opacity: 0; }
    .shown[data-fadein] {
      opacity: 1; }

  html, body {
    overflow-y: hidden; }

  .hide-past-mobile, .logo .hero .hero-header .border-bottom {
    display: none !important; }

  .hide-mobile {
    display: block; }

  .button.block-mobile {
    display: inline-block; }
  .button.pure.light {
    color: #fff;
    border-color: #fff; }
    .button.pure.light:hover {
      background-color: #fff;
      color: #D8A683; }

  .logo {
    opacity: 1;
    padding: 0;
    background-color: #fff;
    width: 50%;
    height: 100%;
    float: left;
    position: relative; }
    .logo .logo-link {
      display: block;
      float: left;
      max-width: 230px;
      padding: 55px 35px; }
      .logo .logo-link img {
        width: 100%; }
    .logo .hero {
      max-width: 386px;
      padding-bottom: 15px;
      padding-top: 0px;
      margin: 0;
      position: absolute;
      width: 100%;
      bottom: 0;
      min-height: 405px; }
      .logo .hero .hero-header {
        padding-left: 45px;
        border: none;
        font-size: 40px;
        padding-top: 10px;
        margin-top: 0px;
        padding-bottom: 50px;
        color: #4E4E50;
        line-height: 1em;
        letter-spacing: 2px;
        border-bottom: 1px #D8A683 solid; }
      .logo .hero .hero-text {
        padding-left: 45px;
        line-height: 1.5;
        color: #4E4E50; }

  .info {
    height: 100%;
    width: 50%;
    float: right;
    position: relative;
    padding: 0px;
    background-image: url("background.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover; }
    .info .service-action-wrapper {
      min-height: 405px;
      text-align: left;
      padding: 0;
      padding-left: 45px;
      margin: 0;
      background: transparent;
      position: absolute;
      width: 100%;
      bottom: 0;
      padding-bottom: 25px; }
      .info .service-action-wrapper .address {
        margin-top: 0px;
        min-height: 10px;
        color: #fff !important;
        font-size: 1em;
        padding-top: 10px; }
        .info .service-action-wrapper .address p {
          display: inline;
          vertical-align: middle;
          color: #fff !important; }
          .info .service-action-wrapper .address p:after {
            font-size: 2.2em;
            line-height: .1em;
            content: " \00b7";
            vertical-align: sub;
            display: inline; }
          .info .service-action-wrapper .address p:last-child:after {
            display: none; }
      .info .service-action-wrapper .services, .info .service-action-wrapper .actions {
        padding-left: 0px; }
      .info .service-action-wrapper .services {
        text-align: left;
        margin-bottom: 0;
        padding-bottom: 35px;
        border-bottom: 1px #D8A683 solid; }
        .info .service-action-wrapper .services h1 {
          font-size: 1.6em;
          margin-bottom: 20px;
          margin-top: 0px; }
        .info .service-action-wrapper .services ul {
          overflow: hidden;
          width: 525px; }
          .info .service-action-wrapper .services ul li {
            text-align: left;
            width: 250px;
            line-height: 2.2;
            font-size: .8em;
            display: inline-block;
            max-width: 300px;
            float: left; }
            .info .service-action-wrapper .services ul li a, .info .service-action-wrapper .services ul li a:visited, .info .service-action-wrapper .services ul li a:hover {
              color: #fff; }
            .info .service-action-wrapper .services ul li:nth-child(2n) {
              margin-left: 15px; }
      .info .service-action-wrapper .actions {
        margin-top: 10px; }
        .info .service-action-wrapper .actions .button {
          padding-left: 9px;
          padding-right: 9px;
          max-width: 250px;
          width: 33%;
          margin-bottom: 15px; }
          .info .service-action-wrapper .actions .button.smaller {
            width: 150px; }
        .info .service-action-wrapper .actions .button + .button {
          margin-left: 9px; } }

/*# sourceMappingURL=styles.css.map */
