@import "vendor/Hover/scss/hover";
$grey: #D1D5D8;
$white: #fff;
$black: #000;
$energy: #B8312F;
$green: #00A885;
$primaryColor: $white;
$activeColor: $green;
$mediumDuration: .5s;

@import "reset";

html, body {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
  font-size: 16px;
}



h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 2em;
}

button{
  padding: 10px;
  border: 1px $black solid;

}

.sidebar {
  height: 100%;
  position: fixed;
  width: 300px;
  border-right: 2px solid $grey;

  overflow-y: scroll;
  .inner {
    padding: 10px;
    min-height: 100%;
    position: relative;
  }
}

.iframed-content {
  margin-left: 300px;
  height: 100%;
  iframe {
    width: 100%;
    height: 100%;
  }
}

.text-center {
  text-align: center;
}

.pull-right{
  float: right;
}

.sidebar-header{
  padding: 20px 0;
}

.save-action{

}

.publish-action{
  &:before{
    background-color: $energy;
  }
}

.container{
  width: 1024px;
  margin: auto;
}

.login{
  padding-top: 100px;
  width: 600px;
  margin: auto;
  position: relative;

}

.input-group {
  width: 100%;
  margin-top: 25px;
  .input-group {
  }
  ul {
    padding: 0px;
  }
  label {
    @extend h2;
    display: block;
  }
  input, textarea {

    display: block;
    width: 100%;
  }
  .list {
    .list {
      background-color: transparent;
    }
  }
}

.credit{
  text-align: center;
  margin-top: 50px;
  padding: 50px;
}

.alert{
  color: $white;
  padding: 10px;
  a,a:visited,a:link{
    color: $white;
  }

  &.alert-success{
    background-color: $activeColor;
  }

  &.alert-error{
    background-color: $energy;
  }

  &.alert-warning{
    background-color: $grey;
  }
}
.form-group{
  margin-bottom: 10px;
}
.list-group-item{
  border-top: 1px solid $black;
  button.close{
    top: 20px;
  }
}
.schema-form-fieldset {
  padding: 5px;
}