{% extends "header.html" %}
{% block content %}
<div class="sidebar" ng-class="{shown:show_sidebar}">
    <div class="inner" ng-controller="formController">
        <h1 class="text-center sidebar-header">Site Content</h1>
        <button ng-click="saveContent()" class="save-action">Save</button>
        <button class="pull-right publish-action" ng-if="canPublish" type="button" ng-click="publishContent()">
            Publish
        </button>
        <form sf-schema="formSchema" sf-form="form" sf-model="formData" >

        </form>
        <div class="credit">
            Built By <a href="http://farmingtonwebdesign.net" title="Farmignton Web Design">FWD</a>
        </div>
    </div>
</div>
<div class="iframed-content">
    <toast></toast>
    <iframe id="iframe-content-page" src="{{content_url}}" seamless frameborder="none" connectIframe></iframe>
</div>
{% endblock %}
{%block script%}
window.formData = {{ json_content | raw}};
window.schema = {{ json_schema | raw}};
{%endblock%}
