{% extends "header.html" %}

{% block content %}
<div class="container table">

    <div class="login" ng-controller="loginController">
        <div ng-show="token">You already have a login token. Go ahead and <a
                href="/edit?token={% verbatim %}{{token}}{%endverbatim%}">Click Here</a></div>
        <h1>Please Login</h1>
        <toast></toast>
        <div class="form" ng-form="loginForm">
            <div class="input-group">
                <label>
                    User Name:
                </label>
                <input type="text" name="username" ng-model="username" required>
            </div>
            <div class="input-group">
                <label>
                    Password:
                </label>
                <input type="password" name="password" ng-model="password" required>
            </div>
            <div class="input-group">
                <button ng-click="login()" class="save-action">Login & Edit</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
